{% extends "Course_app/base.html" %}
{% block title %}
{% if check == 1 %}
    Delete Lesson
{% else %}
Delete Course

{% endif %}
{% endblock %}
    

{% block content %}
<div class="container mt-4">
    
    {% if check == 1 %}
    <h2>Are you sure you want to delete "{{ lesson.title }} Lesson"?</h2>
    {% elif check == 2 %}
    <h2>Are you sure you want to delete "{{ student.title }} Student"?</h2>
    {% else %}
    <h2>Are you sure you want to delete "{{ course.title }} Course"?</h2>
        
    {% endif %}
        

<p>This action cannot be undone.</p>
<form method="post">
{% csrf_token %}
<button type="submit" class="btn btn-danger">Yes, Delete</button>
<a href="{% url 'course_list' %}" class="btn btn-secondary">Cancel</a>
</form>
</div>
{% endblock %}